
/* ------ RESET ------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style-type: none;
}

/* ==================================================================
   MOBILE  (min-width: 320px)
   ================================================================== */

body {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;

}

header {
    width: 100%;
    background-color: rgb(4, 68, 78);
    display: flex;
    justify-content: center;
}

main {
    width: 100%;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
}

footer {
    width: 100%;
    background-color: rgb(4, 68, 78);
    display: flex;
    justify-content: center;
}

   .content-wrapper {
    max-width: 1440px;
    margin-inline: auto;
    width: 100%;
    background-color: rgb(71, 118, 118);
}

.no-scroll {
    overflow: hidden;
}

/* ------ HEADER ------ */

.header-space {
    padding: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-content {
    display: flex;
    align-items: center;
    gap: 18px;

    .logo-img {
        width: 46px;
        height: auto;
    }

    .logo-name {
        font-size: 24px;
        font-weight: 600;
        color: #fff;
    }
}

/* ------ MAIN ------ */

.cards-list {
    padding: 26px;
    background-color: beige;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;

    .card-character:hover {
        box-shadow: 0px 6px 30px 4px rgba(118, 118, 51, 0.4);
        transform: translate(0, -8px); 

    }

    .card-character {
        padding: 8px;
        height: 260px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 1 200px;
        border-radius: 24px;
        border: 2px solid transparent;
        transition: box-shadow 0.3s ease, transform 0.3s ease;

        button {
            width: 100%;
            height: 100%;
            background-color: transparent;
            border: 2px solid #f1f1f1;
            border-radius: 18px;
            cursor: pointer;

            h2 {
                text-transform: capitalize;
            }

            img {
                max-width: 80%;
                height: auto;
            }

            .types {
                display: flex;
                justify-content: center;
                gap: 8px;

                .type {
                    padding: 2px 8px 4px 8px;
                    border: 1px solid #000;
                    border-radius: 8px;
                    text-align: center;
                    font-size: 14px;
                    font-weight: 400;
                    color: #000;
                }
            }
        }
    }
    
}

/* ------ FOOTER ------ */

.footer-space {
    padding: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;

    .logo-da {
        width: 120px;
        height: auto;
    }

    .copyright {
        font-size: 14px;
        font-weight: 300;
        color:  rgb(193, 211, 214);
    }
}

.d-none {
    display: none;
}

/* ==================================================================
   DESKTOP  (min-width: 1300px)
   ================================================================== */



